.newGroupButton {
  padding: 10px 16px;
  background: linear-gradient(90deg, #A73EE7, #00EBFF);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 8px #A73EE7;
  transition: box-shadow 0.3s ease;
}

.newGroupButton:hover {
  box-shadow: 0 0 15px #00EBFF;
}
