.utente-card {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #A73EE7, #00EBFF);
  border-radius: 12px;
  background-color: #393D5E;
  color: white;
  margin: 8%;
  
}

.utente-card-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.utente-card-name {
  font-weight: bold;
  font-size: 1.1rem;
}


.admin-icon {
  margin-left: 8px;
}

.utente-context-menu {
  position: absolute;
  background-color: #393D5E;
  border: 1px solid #A73EE7;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  z-index: 1000;
}

.utente-context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.utente-context-menu li:hover {
  background-color: #4a4e74;
}